.window_image{
    height: 100%;
    width: 100%;
}

.close_img{
    height: 20px;
    width: 20px;
    margin-left: auto;
    position: absolute;
    top: 10px;
    left: 96%;
    z-index: 1000;
    cursor: pointer;
}
.close_img:hover{
    border: 1px solid black;
    padding: 3px;
}
.window_img_wrapper{
    height: 100%;
    width: 100%;
    position: relative;
}
.window_details{
    position: absolute;
    top: 70%;
    left: 75%;
}
@media(max-width:600px){
    .close_img{
        height: 20px;
        width: 20px;
        margin-left: auto;
        position: absolute;
        top: 10px;
        left: 93%;
        z-index: 1000;
        cursor: pointer;
    }
    
.window_details{
    position: absolute;
    top: 60%;
    left: 65%;
}
}